body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #87a8d81a;
}
* {
    margin: 0;
    padding: 0;
}

.btn {
    width: 100px;
    height: 30px;
    border: 2px dotted rgb(108, 25, 187);
    background: inherit;
    margin-top: 5px;
    cursor: url(image/mik.png), auto;
}
.btn:focus {
    outline: none;
    background: lightblue;
    border: 3px dotted rgb(132, 22, 235);
}

.btnnum:focus {
    outline: none;
}